@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Inter:wght@300;400;700&display=swap');

::selection{
    background-color: steelblue;
    color: #fff;
}


:root{
    --font: 'Inter', sans-serif;
    --font-comforter:'Comforter Brush',  sans-serif;
    --login-row: 1fr;
    --clip: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    --color-primary: #5050f0;
    --color-principal: #1b1b1e;

}

section{
    font-family: 'Inter', sans-serif;
}

.login{
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login__picture{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 50%;    
}

.login__img{    
    width: 50%;
}


.login__picture::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-primary);
    z-index: -1; 
    clip-path: var(--clip);
    
}
.login_form{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50%;
   height: 100%;
   gap: 1rem;
   justify-content: center;   
}

.login__title{
   
    font-family: var(--font);  
    font-size: 2.5rem;
   
}

.login__title::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color:var(--color-primary);    
}


.login__input{
    border:none;
    outline:none;
    border-bottom: 1px solid gray;
    padding: .5rem 0;
    width: 50%;
    background-color: var(--color-principal);
    
}

.login__cta{
    display:inline-block;
    border:none;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
    background-color:transparent;
    outline:1.5px solid var(--color-primary);
    box-shadow: 0 10px 10px -10px rgb(0, 0, 0);
    font-weight: bold;
    
}

.login__cta:hover{
    transition: .2s;
    background-color: var(--color-primary);
    color:white;

}

@media screen and (max-width:769px) {

    :root{
    
    --font-comforter:'Comforter Brush',  sans-serif;
    --login-columns: 1fr;
    --login-row: max-content 1fr;
    --clip: polygon(0 0, 0% 100%, 100% 0);    
    }

    .login__form{
        padding: 40px 0;
        grid-area: 2/1/3/-1;
        width: 90%;
        max-width: 500px;
    }

    .login__picture{
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    .login__title{
        text-align: left;
        font-size:2.5rem;
    }

    .login__img{
        max-width:400px
    }
  
    
}